@font-face {
  font-family: "Beeunhye";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_01@1.0/Beeunhye.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/earlyaccess/nanumpenscript.css");

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* 드래그 잠금  */

  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  /* 스크롤바 숨기기  */

  /* font-family: "Nanum Pen Script", cursive;
  font-family: "Yeon Sung", cursive; */

  font-family: "Beeunhye";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}

body::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 스크롤바 숨기기*/
}

#root {
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
