@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* font-family: "Nanum Pen Script", cursive;
  font-family: "Yeon Sung", cursive; */
}

#root {
  background-color: black;
  -webkit-tap-highlight-color: transparent;
}
